<launch>
    <param file="$(find jackal_bsc)/launch/delay_params.yaml" command="load" ns="jackal_bsc"/>
    <node name="twist_stamped_publisher" package="jackal_bsc" type="twist_stamped_publisher"/>
    <node name="delay_node" package="jackal_bsc" type="delay_node"/>
    <node name="bsc_node" package="jackal_bsc" type="bsc_node"/>
</launch>